.gif-qrcode-input {
    border: 2px solid lightgrey;
    border-radius: 12px;
    padding: 8px;
    width: 180px;
    max-width: 220px;
    height: 100%;
    font-size: 16px;
    text-align: center;
    outline: none;
    box-shadow: 0 0 20px -18px;
    transition: all .3s cubic-bezier(.19, 1, .22, 1);
    box-sizing: border-box;
}

.gif-qrcode-input:hover {
    border: 2px solid #008bf8;
    box-shadow: 0 0 20px -17px;
}

.gif-qrcode-input:active {
    transform: scale(.90);
}

.gif-qrcode-input:focus {
    border: 2px solid #008bf8;
}