.gif-qrcode-input {
    width: 100%;
    max-width: 220px;
    padding: 12px;
    border-radius: 12px;
    border: 2px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
  }
  
  .gif-qrcode-input:hover {
    border: 2px solid #000;
    box-shadow: 0px 0px 20px -17px;
  }
  
  .gif-qrcode-input:active {
    transform: scale(0.90);
  }
  
  .gif-qrcode-input:focus {
    border: 2px solid #000;
  }