.gif-qrcode-button {
    position: relative;
    z-index: 1;
    overflow: hidden;
    border: unset;
    border-radius: 15px;
    padding: 8px;
    font-size: 17px;
    font-weight: 1000;
    color: #212121;
    background: #fff;
    box-shadow: 4px 8px 19px -3px rgb(0 0 0 / 27%);
    transition: all 250ms;
}
   
.gif-qrcode-button::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 15px;
    width: 0;
    height: 100%;
    background-color: #212121;
    box-shadow: 4px 8px 19px -3px rgb(0 0 0 / 27%);
    transition: all 250ms;
    content: ""
}
   
.gif-qrcode-button:hover {
    color: #fff;
}
   
.gif-qrcode-button:hover::before {
    width: 100%;
}