.gif-qrcode-content-qrcontent {
    &-container {
        position: relative;
        margin-bottom: 10px;

        #gif-qrcode-content-sketch {
            display: flex;
            width: 200px;
            height: 200px;
        }

        .gif-qrcode-content-clone-img {
            position: absolute;
            top: 0;
            width: 200px;
            height: 200px;
        }
    }

    .gif-qrcode-content-qrcontent-input {
        height: 40px;
        width: 100%;
    }
}