.gif-qrcode-relative {
    position: relative;
    height: 100%;

    .gif-qrcode-label {
        position: absolute;
        width: 180px;
        height: 100%;
        text-align: center;
        box-sizing: border-box;
    }

    .gif-qrcode-select {
        border: 2px solid lightgrey;
        border-radius: 12px;
        padding: 8px;
        width: 180px;
        max-width: 220px;
        height: 100%;
        background-color: #fff;
        opacity: 0;
        outline: none;
        box-shadow: 0 0 20px -18px;
        transition: all .3s cubic-bezier(.19, 1, .22, 1);
    }

    &:hover {
        .gif-qrcode-label {
            border: 2px solid #008bf8;
            box-shadow: 0 0 20px -17px;
        }
    }

    &:active {
        .gif-qrcode-label {
            transform: scale(.90);
        }
    }

    &:focus {
        .gif-qrcode-label {
            border: 2px solid #008bf8;
        }
    }
}