.gif-qrcode-card {
    z-index: 1;
    margin: 0 auto;
    border-radius: 8px;
    background-color: #f8fbfe;

    &-tools {
        display: flex;
        align-items: center;
        padding: 9px;
    }
       
    &-circle {
        padding: 0 4px;
    }
       
    &-box {
        display: inline-block;
        align-items: center;
        border-radius: 50%;
        padding: 1px;
        width: 10px;
        height: 10px;
    }
       
    &-red {
        background-color: #ff605c;
    }
       
    &-yellow {
        background-color: #ffbd44;
    }
       
    &-green {
        background-color: #00ca4e;
    }
}
   