.gif-qrcode {
    width: 100vw;
    height: 100vh;
    display: flex;

    &-parameter {
        display: flex;
        flex-direction: column;
        align-self: center;
        padding: 0px 60px;
    }

    &-content {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &-top {
            display: flex;
        }
    }
}