.gif-qrcode {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    &-drawer {
        display: flex;
        align-items: center;
        padding-left: 50px;
    }

    &-parameter {
        display: flex;
        flex-direction: column;
        align-self: center;
        padding: 0 60px;
    }

    &-content {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &-top {
            display: flex;

            &-left {

            }

            &-right {
                margin-left: 50px;
            }
        }

        &-input {
            margin: 10px 0;
        }
    }

    &-label {
        border: 2px solid lightgrey;
        border-radius: 12px;
        padding: 8px;
        max-width: 220px;
        background-color: #fff;
        outline: none;
        box-shadow: 0 0 20px -18px;
        transition: all .3s cubic-bezier(.19, 1, .22, 1);
    }
      
    &-label:hover {
        border: 2px solid #000;
        box-shadow: 0 0 20px -17px;
    }
      
    &-label:active {
        transform: scale(.90);
    }
      
    &-label:focus {
        border: 2px solid #000;
    }
}