.gif-qrcode-content-download {
    display: flex;
    flex-direction: column;

    .gif-qrcode-content-download-img {
        margin-bottom: 10px;
        width: 200px;
        height: 200px;
    }
    
    .gif-qrcode-content-download-button {
        height: 40px;
    }

    .gif-qrcode-loading {
        margin-bottom: 10px;
    }
}